
.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input label {
    text-align: left;
    
}

.input input {
    padding: 4px;
}
.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.passwordIndicator {
    display: flex;
    background: #eee;
    height: 8px;
    margin: 4px 0;
    border-radius: 4px;

    position: relative;
}

.passwordIndicator .number {
    display: none;
}

.passwordIndicator .bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 4px;

    transform-origin: left;
    transition: 300ms transform ease-in-out,
        300ms background-color ease-in-out;

    transform: scaleX(0);
}

.passwordIndicator .bar.zero {
    background-color: #DD1C1A;
    transform: scaleX(0);
}

.passwordIndicator .bar.one {
    background-color: #DD1C1A;
    transform: scaleX(0.25);
}

.passwordIndicator .bar.two {
    background-color: #E77211;
    transform: scaleX(0.5);
}

.passwordIndicator .bar.three {
    background-color: #F0C808;
    transform: scaleX(0.75);
}

.passwordIndicator .bar.four {
    background-color: #08A045;
    transform: scaleX(1);
}