@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
}

body {
  box-sizing: border-box;
  background-size: cover;
  padding: 0;
  margin: 0;
  background-color: rgb(189, 189, 189);
  background: linear-gradient(-45deg, #A663CC, #B298DC, #B8D0EB, #6F2DBD);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: auto;
  -moz-transform: scale(1.5);
  /* for Firefox, default 1*/
  zoom: 150%;
  /* For Chrome, IE, default 100% */
}

input[type="password"] {
  width: 120px;
  height: 20px;
  padding-right: 50px;
}

input[type="text"] {
  width: 120px;
  height: 20px;
  padding-right: 50px;
}

#aa input[type="text"] {
  width: 120px;
  height: 20px;
  padding-right: 50px;
  margin-left: -25px;
}

.fresh-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  margin-top: 2.5em;
  font-size: 13px;
  background-color: whitesmoke;
  padding: 1.5rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-top: 5px solid #8D4DC0;
  border-radius: 7px;
}

.mainTitle {
  margin-top: -15px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 30px;
}

.ptoggle {
  height: 26px;
  color: rgb(161, 161, 161);
  text-decoration: line-through;
}

.ptoggle:hover {
  color: black;
  text-decoration: none;
}

::placeholder {
  color: rgb(161, 161, 161);
}

.fresh-field-wrapper button {
  background-color: whitesmoke;
  border: 0px;
}

.fresh-field-wrapper2 button {
  background-color: whitesmoke;
  border: 0px;
}

input {
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  border-radius: 2px;
}




.fresh-label {
  font-size: 10px;
  color: rgb(153, 153, 153);
}

.fresh-title {
  margin-bottom: 0.5rem;
}

.fresh-field-wrapper, .fresh-field-wrapper2 {
  margin: 0.7em;
}

.fresh-input {
  width: 100%;
  background-color: lightgrey;
  border: 0;
  padding: 1rem;
}

.fresh-input-textarea {
  min-height: 150px;
}

.fresh-button:hover {
  border: 0;
  background-color: #eb675e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
  margin-right: 1rem;
  text-decoration: none;
}

.chkbox {
  font-weight: bold;
}

.chkbox:hover {
  text-shadow: 1px 1px 2px gray;
}

.chkbox1:hover {
  text-shadow: 1px 1px 2px gray;
}

#submit {
  font-weight: bolder;
  display: block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 30%;
  border: 1px solid lightgray;

}

#submit:hover {
  border: 1px solid gray;
  font-weight: bold;
}

.errorMessages1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.errorMessages2 {
  color: rgb(41, 41, 41);
  text-align: left;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}


.pstr {
  font-size: 0px
}

.checkbox-total {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  font-size: small;
  margin-top: 40px;
  margin-bottom: 30px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}