input#lota{
    background-color: green;
}
.container{
width: 400px;
padding: 40px;
background-color: #ecebeb;
position: absolute;
top: 50%;
left: 50%;
/* Pesquisar transform:translate */
transform: translate(-50%,-50%); 
text-align: center;
border-radius: 5%;
border: 2px solid #0c68a5;
}
.button1{
color: white;
background: #2ecc71;
margin: 20px auto;
text-align:center;
border: 1px solid #3498db;
padding: 14px 10px;
border-radius: 25px;
transition: 0.25s;
width: 130px;
border-radius: 25px;
transition: 0.25s;
} .button1:hover{
color: white;
background: rgb(5, 138, 12);
}
.button2{
color: white;
background: rgb(245, 76, 76);
margin: 20px auto;
text-align:center;
border: 1px solid #3498db;
padding: 14px 10px;
border-radius: 25px;
transition: 0.25s;
width: 130px;
border-radius: 25px;
transition: 0.25s;
} .button2:hover{
color: white;
background: rgb(151, 15, 15);
}
#veri{
border: 0;
background: white;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #176091;
padding: 14px 10px;
width: 200px;
outline: none;
color: black;
border-radius: 25px;
transition: 0.25s;
} #veri:focus{
width: 280px;
text-align: center;
border-color: #0e466b;
}
#para2{
font-size: 20px;
color: #2ecc71;
}
#para1{
font-size: 20px;
color: red;
}
#h11{
    text-align: center;
    margin-top: 100px;
    color: #2ecc71;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30ch;
    gap: 8px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input label {
    text-align: left;
}

.input input {
    padding: 4px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.passwordIndicator {
    display: flex;
    background: #eee;
    height: 8px;
    margin: 4px 0;
    border-radius: 4px;

    position: relative;
}

.passwordIndicator .number {
    display: none;
}

.passwordIndicator .bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 4px;

    transform-origin: left;
    transition: 300ms transform ease-in-out,
        300ms background-color ease-in-out;

    transform: scaleX(0);
}

.passwordIndicator .bar.zero {
    background-color: #DD1C1A;
    transform: scaleX(0);
}

.passwordIndicator .bar.one {
    background-color: #DD1C1A;
    transform: scaleX(0.25);
}

.passwordIndicator .bar.two {
    background-color: #E77211;
    transform: scaleX(0.5);
}

.passwordIndicator .bar.three {
    background-color: #F0C808;
    transform: scaleX(0.75);
}

.passwordIndicator .bar.four {
    background-color: #08A045;
    transform: scaleX(1);
}